<!-- navbar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Share Major</a>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find_index">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="share_form">Share</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Q&A</a>
      </li>
    </ul>
  </div>
</nav>

<div class="d-flex justify-content-end">
    <!-- list group-->
    <ul class="list-group mr-auto p-2" style="width: 200px;">
      <li class="list-group-item justify-content-between">
        책
        <span class="badge badge-default badge-pill">14</span>
      </li>
      <li class="list-group-item justify-content-between">
        사이트
        <span class="badge badge-default badge-pill">2</span>
      </li>
      <li class="list-group-item justify-content-between">
        자격증
        <span class="badge badge-default badge-pill">1</span>
      </li>
      <li class="list-group-item justify-content-between">
        대외활동
        <span class="badge badge-default badge-pill">1</span>
      </li>
      <li class="list-group-item justify-content-between">
        커리큘럼
        <span class="badge badge-default badge-pill">1</span>
      </li>
      <li class="list-group-item justify-content-between">
        노하우
        <span class="badge badge-default badge-pill">1</span>
      </li>
    </ul>

    <!-- content -->
    <div class="container p-2" style="width: 1200px; ">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>책 이름</th>
              <th>내용</th>
              <th>관련 전공</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>DB 공부 하실 때 보세요</td>
              <td>소프트</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>자바 프로그래밍</td>
              <td>소프트</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>임베디드 기초</td>
              <td>소프트</td>
            </tr>
          </tbody>
        </table>
     
    </div>
</div>