<header class="header">
    
    <img id="main" src="main.png"/>
    
    <div class="button">
       
        <a href="/find_index"> <img id="buttonleft" src="findbutton.png"/> </a>
        
  
        <a href="/share_form"><img id="buttonright" src="sharebutton.png"/></a>
   
    </div>
</header>